/* DECIDED NOT TO GO WITH THE PINS SINCE THEY JUST ADD ANOTHER
ELEMENT TO THE MIX THAT GETS DISTORTED WHEN THE VH CHANGES */

.App {
    margin: 0;
    padding: 0;
    height:100vh;
    text-align: center;
    font-size: 16pt;
    --primaryColor: rgb(32, 78, 32);
    --secondaryColor: rgb(247, 230, 196);
    background-color: var(--secondaryColor)
  }
  header {
    background-color: var(--primaryColor);
    height: 7vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* font-size: calc(10px + 2vmin); */
    color: var(--secondaryColor);
  }
  header a, .button {
    font-size: 16pt;
    font-weight: bold;
    /* height: 30px; */
    padding: 10px;
    margin: 5vh auto;
    border-radius: 20px;
    color: var(--secondaryColor);
    background-color: var(--primaryColor);
    border:ridge 2px var(--secondaryColor);
  }
  header a:hover, .button:hover {
    color: var(--primaryColor);
    background-color: var(--secondaryColor);
    border:ridge 2px var(--primaryColor);
  }
  form {
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
  }
  form input {
    /* justify-self: center; */
    text-align: center;
    align-self: center;
    width: 20vw;
    margin: 1vh auto 1vh;
  }
  form label {
    margin-top: 2vh
  }
  .error-message {
    color: red;
    margin-bottom: 3vh;
    /* font-size: 16pt; */
  }
  .home-page {
    justify-content: center;
    justify-self: center;
    justify-items: center;
    align-content: center;
    align-self: center;
    align-content: center;
  }
  .home-page .wheel {
    /* justify-content: center;
    justify-self: center;
    justify-items: center;
    align-content: center;
    align-self: center;
    align-content: center; */
    height: 54vh;
    width: 50vh;
    /* background-color: grey; */
    list-style-type: none;
    border-radius: 50%;
    border: 5px solid black;
    /**/
    animation-name: wheel;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: wheel-segmentar;
    /**/
    /* background-image: conic-gradient(
      gold 0 7.7%,
      silver 7.7% 15.4%,
      grey 15.4% 23.1%,
      green 23.1% 30.8%,
      red 30.8% 38.5%,
      blue 38.5% 46.2%,
      orange 46.2% 53.8%,
      purple 53.8% 61.5%,
      brown 61.5% 69.2%,
      violet 69.2% 76.9%,
      yellow 76.9% 84.6%,
      teal 84.6% 92.3%,
      black 92.3% 100%,
    ) */
  }
  .wheel-segment {
    /* border-top: 5px solid black;
    border-left: 5px solid black; */
    /**/
    background-color: black;
    width: 50%;
    height: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 0% 0%;
    /**/
  }
  .wheel-segment:nth-of-type(2) {
    transform: rotate(27.7deg);
  }
  .wheel-segment:nth-of-type(3) {
    transform: rotate(55.4deg);
  }
  .wheel-segment:nth-of-type(4) {
    transform: rotate(83.1deg);
  }
  .wheel-segment:nth-of-type(5) {
    transform: rotate(110.8deg);
  }
  .wheel-segment:nth-of-type(6) {
    transform: rotate(138.5deg);
  }
  .wheel-segment:nth-of-type(7) {
    transform: rotate(166.2deg);
  }
  .wheel-segment:nth-of-type(8) {
    transform: rotate(193.8deg);
  }
  .wheel-segment:nth-of-type(9) {
    transform: rotate(221.5deg);
  }
  .wheel-segment:nth-of-type(10) {
    transform: rotate(249.2deg);
  }
  .wheel-segment:nth-of-type(11) {
    transform: rotate(276.9deg);
  }
  .wheel-segment:nth-of-type(12) {
    transform: rotate(304.6deg);
  }
  .wheel-segment:nth-of-type(13) {
    transform: rotate(332.3deg);
  }
  .pin {
    background-color: black;
    /* width: 2px; */
    height: 15px;
    top: -10px;
    left: 148px;
    position: absolute;
    border: 2px solid;
    transform-origin: 0% 360%;
    animation: pins 10s ease-in-out infinite;
  }
  .pin:nth-of-type(2) {
    top: -19px;
    left: 254px;
    /* transform: rotate(27.7deg); */
  }
  .pin:nth-of-type(3) {
    top: 18px;
    left: 356px;
    /* transform: rotate(55.4deg); */
  }
  .pin:nth-of-type(4) {
    top: 9px;
    left: 354px;
    /* transform: rotate(83.1deg); */
  }
  .pin:nth-of-type(5) {
    top: -19px;
    left: 254px;
    /* transform: rotate(110.8deg); */
  }
  .pin:nth-of-type(6) {
    top: -19px;
    left: 254px;
    /* transform: rotate(138.5deg); */
  }
  .pin:nth-of-type(7) {
    top: -19px;
    left: 254px;
    /* transform: rotate(166.2deg); */
  }
  .pin:nth-of-type(8) {
    top: -19px;
    left: 254px;
    /* transform: rotate(193.8deg); */
  }
  .pin:nth-of-type(9) {
    top: -19px;
    left: 254px;
    /* transform: rotate(221.5deg); */
  }
  .pin:nth-of-type(10) {
    top: -19px;
    left: 254px;
    /* transform: rotate(249.2deg); */
  }
  .pin:nth-of-type(11) {
    top: -19px;
    left: 254px;
    /* transform: rotate(276.9deg); */
  }
  .pin:nth-of-type(12) {
    top: -19px;
    left: 254px;
    /* transform: rotate(304.6deg); */
  }
  .pin:nth-of-type(13) {
    top: -19px;
    left: 254px;
    /* transform: rotate(332.3deg); */
  }
  /**/
  @keyframes wheel {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  /* @keyframes pins {
    0% {
      transform: rotate(0deg);
    }
    25% {
      background-color: yellow;
    }
    50% {
      background-color: purple;
    }
    75% {
      background-color: yellow;
    }
    100% {
      transform: rotate(-0deg);
    }
  } */
  /**/
  
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s wheel-segmentar;
    }
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  